/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./vite-promo.css');
@import url('./header.css');

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}


body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}


.container {
  width: 600px;
  padding: 0px;
  margin: 0 auto;
  display: flex;
  align-items: left;
  text-align: left;
}
.form-container {
  width: 360px;
  padding: 0px;
  margin: 0 auto;
  align-items: center;
  display: flex;
  text-align: left;
   flex-direction: column;  
}

.container-clock {
  display: flex;
  width: 360px;
  padding: 0px;
  margin: 0 auto;
  align-items: center;
  text-align: left;
  flex-direction: column;
}
.container-input {
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: row;
}
.input-stule {
    /* normal, hover, press */
  border-radius: 4px;
  padding: 8px;
  margin-bottom: 24px;
  /* width: 272px;
  height: 33px; */
   /* new serch */
  width: 272px;
height: 40px;
}
.button-submit {
  /* new serch */
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: #fff;
background: #4e75ff;
}
.button-start {
  /* new start */
  border-radius: 8px;
  padding: 8px 16px;
  width: 75px;
  height: 40px;
display: flex;
flex-direction: row;
background: #4e75ff;
}
.timer {
  display: flex;
  padding: 5px;
  margin: 0 auto;
  align-items: center;
  text-align: left;
  flex-direction: row;
}
.field {
  display: flex;
  width: 55px;
  height: 72px;
  padding: 15px;
  padding-right: 25px;
  padding-left: 10px;
  /* margin: 0 auto; */
  align-items: center;
  text-align: left;
  flex-direction: column;
}
.value {
 font-weight: 400;
 font-size: 40px;
 line-height: 120%;
 letter-spacing: 0.04em;
 color: #2e2f42;
}

.form-link {
  text-decoration: none;
}

ul {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  user-select: none;
  list-style: none;
}
img {
  display: flex;
  max-width: 100%;
  height: auto;
  width: 360px;
  height: 200px;
}

.form-link {
text-decoration: none;
}

.gallery-link {
text-decoration: none;
}
ul {
display: flex;
justify-content: space-around;
flex-wrap: wrap;
user-select: none;
list-style: none;
}


.gallery {
display: flex;
list-style: none;
width: 1200px;
padding: 0px;
background-color: white;
box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
border-radius: 8px;
border-color: black;
margin: 0px;
counter-increment: my-counter;
}
.gallery-item {
display: flex;
list-style: none;
width: 380px;
padding: 0px;
background-color: white;
box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
border-radius: 5px;
border-color: black;
margin: 10px;
gap: 24px;
counter-increment: my-counter;
}
.gallery-item img {
width: 360px;
height: 200px;
border-radius: 5px;
margin: 5px;
}

.gallery-item p {
font-size: 1rem;
margin: 0px;
}
